/* Media queries for responsive design */

@media (max-width: 1440px) {
    .navbar {
        padding: 2.5rem 6rem;
        
    }

    .hero-section {
        padding: clamp(0px, 0vw, 0px) clamp(0px, 6vw, 44px);
    }

}

@media (max-width: 992px) {
        .nav-links {
            display: none;
        }

        .hamburger-menu {
            display: inline;
        }

        .responsive-navbar {
            display: inline;
        }

        .hero-text {
            padding: 14px 4vw 0 0;
        }

}

@media (max-width: 576px) {
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .navbar {
        padding: 2.5rem 2rem;
    }

    .hero-text h1 {
    font-size: clamp(1rem, 8vw, 3.25rem);
}


}



