/* Media queries for responsive design */

@media (max-width: 576px) {
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }


}

@media (max-width: 992px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }
}

@media (max-width: 1440px) {
    .navbar {
        padding: 2.5rem 6rem;
    }

}