@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid black; */
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  max-width: 74rem;
  margin: 0 auto;
}

/* Styles for the Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.nav-links,
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.125rem;
}

.logo a h4 {
  color: rgba(58, 58, 58, 1);
  font-size: 1.5rem;
  font-weight: 700;
}

.hamburger-menu {
  display: none;
  padding: 0px 12px;
}

.nav-links ul li a {
  color: rgba(58, 58, 58, 1);
  font-size: 1rem;
  font-weight: 600;
}

.nav-links ul li a:hover {
  color: rgba(224, 44, 109, 1);
}

.nav-icons {
  color: rgba(0, 0, 0, 1);
  font-size: 1.25rem;
}

.nav-links a i:hover {
  color: rgba(224, 44, 109, 1);
}

/* Styling for Responsive navbar  */

.responsive-navbar {
  display: none;
}


/* styling for the hero section */

.btn-primary {
  background-color: rgba(224, 44, 109, 1);
  color: #fff;
  padding: 0.63rem 1.5rem;
  border-radius: 2.563rem;
  font-weight: 700;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-primary i {
  transition: transform 0.3s ease-in-out;
}

.btn-primary:hover i {
  animation: slideArrow 2s ease infinite;
}

@keyframes slideArrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0);
  }
}

.btn-primary:hover {
  background-color: rgba(224, 44, 109, 0.8);
}

.btn-primary i,
.btn-secondary i {
  margin-left: 8px;
}

.btn-secondary {
  background-color: rgba(224, 44, 109, 1);
  color: #fff;
  padding: 0.63rem 1.5rem;
  border-radius: 0.563rem;
  font-weight: 700;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: rgba(224, 44, 109, 0.8);
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
  padding-right: 8.313rem;
}

.hero-text h1 {
    font-size: clamp(1rem, 4vw, 3.25rem);
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
}

.hero-text p {
  font-size: clamp(0.875rem, 2vw, 1rem);
  color: rgba(58, 58, 58, 0.8);
  padding: 0.5rem 0 2rem 0;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-image {
  background-image: url("./images/Circle\ design.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}

/* Styling for the sponsor section */

.sponsore-logos {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6), rgba(192, 204, 218, 0.1)) 1;
  padding: 2rem 42px;
  margin: 70px 0;
}

.sponsore-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.sponsore-logos img {
  width: clamp(16px, 14vw, 92px);
}